$clr-white: #FFFFFF;

$clr-grey-200: #ECF2F8;
$clr-grey-400: #9DAEC2;
$clr-grey-500: #6E8098;
$clr-grey-900: #48556A;


$spacing-0: 0rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-800: 4rem;
$spacing-1300: 6.5rem;
$spacing-2000: 10rem;